/* HTML elements */

h1 {
  font-family: "Pokemon Solid", sans-serif;
  font-weight: 300;
}

/* Classes */

.pokemon-name {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 20px;
}

.type-button {
  font-family: "Coiny", sans-serif;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}
