/* HTML elements */

h1 {
  font-family: "Coiny", monospace;
}

/* Classes */
.type-button {
  font-family: "Coiny", sans-serif;
  color: grey;
  border-radius: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
